@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

@mixin text-discription {
  font-family: "Google Sans Code", monospace;
  font-size: 0.8rem;
  font-style: normal;
  color: grey;
}

@mixin position {
  justify-content: center;
  text-align: center;
}

$border-box: 1px solid #9c9c9c;
$bg-color: lighten(orange, 20%);
$fx-direction: column;
