@use "variablen" as *;
@mixin position {
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.title,
.card {
  display: flex;
}

.title {
  @include position;

  &__item {
    position: relative;
    display: inline-block;
    color: #000;
    border-bottom: 2px solid $bg-color;
  }
}

.card {
  width: 230px;
  height: 280px;
  border: $border-box;
  border-radius: 3px;
  flex-direction: $fx-direction;
  background: #fff;

  &__top {
    flex: 2;
    background-color: $bg-color;
    font-size: 24px;
    align-items: center;
    justify-content: center;
  }

  &__bottom {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    border-top: $border-box;
    font-size: 10px;
    font-family: Arial, sans-serif;
    font-weight: 600;
  }
  &__top,
  &__bottom {
    display: flex;
    flex-direction: $fx-direction;
  }
}
.price {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
  gap: 10px;

  &__old {
    color: red;
    text-decoration: line-through;
    font-weight: 600;
  }

  &__new {
    font-weight: 800;
    font-size: 1.1rem;
  }
}
.button {
  @include position;
  margin-top: 30px;

  &__item {
    background-color: $bg-color;
    width: 20vw;
    height: 5vh;
    cursor: pointer;
    border: none;
    border-radius: 3px;
  }
}
