@use "variablen" as *;

body {
  background-color: rgb(1, 1, 66);
}

.products {
  display: flex;
  flex-direction: column;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.title,
.product {
  display: flex;
}

.title {
  @include position;
  margin-bottom: 30px;
  &__item {
    position: relative;
    display: inline-block;
    color: white;
    border-bottom: 2px solid $bg-color;
    margin: 0; // h1 default margin weg, wenn du es sauber willst
  }
}

.product {
  width: 270px;
  height: 350px;
  border: $border-box;
  border-radius: 3px;
  flex-direction: $fx-direction;
  background: #fff;

  &__top {
    flex: 2;
    background-color: $bg-color;
    font-size: 24px;
    align-items: center;
    justify-content: center;
  }

  &__bottom {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    border-top: $border-box;
    font-size: 10px;
    font-family: Arial, sans-serif;
    font-weight: 600;
  }

  &__title {
    margin: 10px 0 6px 0; // statt br / defaults
    font-size: 1rem;
  }

  &__description {
    @include text-discription;
    margin: 0 0 12px 0; // Abstand zur price
  }

  &__top,
  &__bottom {
    display: flex;
    flex-direction: $fx-direction;
  }
}

.price {
  margin: 10px 0;
  display: flex;
  align-items: baseline;
  gap: 10px;

  &__item {
    font-weight: 800;
    font-size: 1rem;

    &--old {
      text-decoration: line-through;
      font-size: 0.7rem;
      font-weight: 600;
      color: red;
    }
  }
}

.button {
  display: flex; // <-- wichtig, sonst wirkt justify-content nicht
  @include position;
  margin-top: 30px;

  &__item {
    background-color: $bg-color;
    width: 20vw;
    height: 5vh;
    cursor: pointer;
    border: none;
    border-radius: 3px;
  }
}
